#main{
  background-color: rgb(244, 244, 244);
  /* background-color: white; */
  /* background-color: #CFDFFE; */
  overflow: visible;
}

legend {
    font-weight: bold;
    font-size: larger;
}

table {
    border-collapse: collapse;
    text-align: center;
}

button {
  transition-duration: 0.2s;
}

tr td button:hover {
  background-color: #ccf4ff; /* Green */
  color: black;
  text-decoration: none;
}

#head, form legend{
  font-family: Avenir Next;
  font-weight: 600;
}

table, th, tr, td {
    border: 1px solid black;
    padding: 10px;
    font-family: Avenir Next;
    font-weight: normal;
}

input, form, p, h2{
  font-family: Avenir Next;
  font-weight: normal;
}


/*https://developer.mozilla.org/en-US/docs/Web/HTML/Element/nav*/
nav {
    border-bottom: 1px solid black;
    font-size: x-large;
}

.navbar ol {
    list-style-type: none;
    padding-left: 0;
}

.navbar {
    display: inline-block;
}

a{
  color: black;
  text-decoration: none;
  font-family: Avenir Next;
}
a:visited{
  text-decoration: none;
}
a:hover{
  color: #666666;
}
.navbar a::after {
    display: inline-block;
    text-decoration: none;
    color: #000;
    content: '>';
    font-size: 80%;
    font-weight: bold;
    padding: 0 3px;
    font-family: Avenir Next;
}
