

<!--Customer Form-->
<form id='newCustomer'>
    <fieldset>
        <legend>New Customer Form</legend>
        <label for='f_name'>First Name:</label><br>
        <input type='text' id='f_name' name='f_name'><br>
		<label for='l_name'>Last Name:</label><br>
        <input type='text' id='l_name' name='l_name'><br>
        <label for='contact_no'>Contact Number:</label><br>
        <input type='text' id='contact_no' name='contact_no'><br>
        <label for='email_address'>Email Address:</label><br>
        <input type='email' id='email_address' name='email_address'>
        <label for="street_address">Street Address:</label>
        <input type='text' id='street_address' name='street_address'><br>
        <label for='city'>City</label><br>
        <input type='text' id='city' name='city'><br>
		<label for='state'>State</label><br>
        <input type='text' id='state' name='state'><br>
		<label for='zip_code'>ZIP Code</label><br>
        <input type='number' id='zip_code' name='zip_code'><br>
        <input type='submit' id='submit' name='Customer' value='Add Customer'><br>
    </fieldset>

</form>
<br>

<script src='./script.js'></script>